@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Londrina+Solid:wght@100&family=Permanent+Marker&family=Staatliches&display=swap');


/* VARIAVEIS DE FONTES*/
:root{
    --font1:Capriola;
}

*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: black;
}

.corpo{
    width: 500px;
    background-color: aqua;
}



