*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: black;
    color: #F0F018;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.return{
   background-color: #F0F018; 
   height: 40px;
   width: 40px;
   border-radius: 50%;
   position: absolute;
   top: 10%;
   right: 15%;
}

.return i{
    color: black;
    font-size: 30px;
}

.return:hover{
    background-color: #f0f018e1;
}

h1{
    padding: 20px;
}

div{
    background-color: #F0F018;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.507);
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div button{
    width: 50%;
    height: 12%;
    color: white;
    background-color: black;
    font-size: 1.5em;
    border-radius: 5px;
    text-shadow: 2px 2px 2px rgba(255, 255, 0, 0.384);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.507);
}

div button:hover {
    background-color: rgba(15, 14, 14, 0.87);
}


